{% extends "../students/student_index.html" %}

{% block title %}Bookings{% endblock %}

{% block home %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-0 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Bookings</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'student_index' %}">Home</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Bookings</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}

<!-- Navbar Start -->
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'student_index' %}">Home</a>
</li>
{% endblock %}
<!-- Navbar End -->

{% block styles %}
{% load static %}
<style>
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .table-container {
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #999999 #f2f2f2;
    }

    .table-container::-webkit-scrollbar {
        width: 10px;
    }

    .table-container::-webkit-scrollbar-track {
        background: #f2f2f2;
    }

    .table-container::-webkit-scrollbar-thumb {
        background-color: #999999;
        border-radius: 5px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    @media screen and (max-width: 600px) {
        table {
            display: block;
            overflow-x: auto;
            overflow-y: scroll;

        }

        th,
        td {
            white-space: nowrap;
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .pagination button {
        margin: 0 5px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        background-color: #f2f2f2;
        color: #333;
        cursor: pointer;
    }

    .pagination button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .search-bar {
        margin-bottom: 20px;
    }

    .search-bar input[type="text"] {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
    }

    /* Styles for the delete button */
    .delete-button {
        padding: 8px 16px;
        background-color: #f44336;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .delete-button:hover {
        background-color: #d32f2f;
    }

    .delete-button:focus {
        outline: none;
        box-shadow: 0 0 0 2px #ff5722;
    }
</style>
{% endblock %}

{% block template %}
<div class="container">
    <h2>Bookings</h2>
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search Bookings Here..." onkeyup="searchBookings()">
    </div>
    <div class="table-container">
        <div class="table-responsive">
            <table class="responsive-table">
                <thead>
                    <tr class="table-header">
                        <th>User</th>
                        <th>Session</th>
                        <th>Recommended Time</th>
                        <th>Created at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr class="table-row">
                        <td>{{ booking.user_id }}</td>
                        <td>{{ booking.session_id.name }}</td>
                        <td>{{ booking.recommended_time }}</td>
                        <td>{{ booking.created_at }}</td>
                        <td>
                            <form action="{% url 'delete_booking' booking.id %}" method="POST">
                                {% csrf_token %}
                                <input class="delete-button" type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination">
    <button id="previousButton" onclick="paginate('previous')">Previous</button>
    <button id="nextButton" onclick="paginate('next')">Next</button>
</div>
{% endblock %}

{% block script %}
<script>
    // Client-side pagination functionality
    let currentPage = 1;
    const itemsPerPage = 3;
    const rows = document.querySelectorAll('.table-row');
    const previousButton = document.getElementById('previousButton');
    const nextButton = document.getElementById('nextButton');

    function paginate(direction) {
        const totalPages = Math.ceil(rows.length / itemsPerPage);

        if (direction === 'previous') {
            currentPage = Math.max(currentPage - 1, 1);
        } else if (direction === 'next') {
            currentPage = Math.min(currentPage + 1, totalPages);
        }

        const startIndex = (currentPage - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        rows.forEach((row, index) => {
            if (index >= startIndex && index < endIndex) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });

        updatePaginationButtons();
    }

    function updatePaginationButtons() {
        previousButton.disabled = currentPage === 1;
        nextButton.dis
        abled = currentPage === Math.ceil(rows.length / itemsPerPage);
    }
</script>
<script>
    function searchBookings() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const rows = document.getElementsByClassName('table-row');

        Array.from(rows).forEach(row => {
            const columns = row.getElementsByTagName('td');
            let match = false;

            Array.from(columns).forEach(column => {
                const text = column.textContent.toLowerCase();
                if (text.includes(filter)) {
                    match = true;
                }
            });

            if (match) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>



{% endblock %}